<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="history-sublist.html">

<dom-module id="command-history">
    <template>
        <style>
            .container {
                display: grid;
                grid-template-columns:40px 80px auto 80px 40px;
                grid-template-rows: 50px auto 50px;
                grid-template-areas:
                    "border-left    header  header  header  border-right"   /*...._____________________....*/
                    "border-left    menu    body    tag     border-right"   /*....    |XXXXXXXXXXX|    ....*/
                    "border-left    menu    footer  tag     border-right";  /*....    |-----------|    ....*/

                grid-column-gap: 15px;
            }

            .container .menu {
                grid-area: menu;

                text-align: right;

                font-size: 200%;
                font-family: 'Amatic SC', cursive;
            }

            .container .menu .menu-item {
            }

            .container .menu .menu-item:hover {
                /*font-weight: 600;*/

                background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, purple);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .container .tags {
                grid-area: tag;

                text-align: left;

                font-size: 200%;
                font-family: 'Amatic SC', cursive;
            }

            .container .tags .tag-item {
                width: 100px;
            }

            .container .tags .tag-item:hover {
                /*font-weight: 600;*/

                background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, purple);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .container .content {
                grid-area: body;

                font-family: 'Cutive Mono', monospace;
            }
        </style>

        <iron-ajax auto
            id="requester"
            url="http://127.0.0.1:8080/api/history"
            on-response="handleResponse"
            handle-as="json">
        </iron-ajax>

        <div class="container">

            <div class="menu">
                <template
                    is="dom-repeat"
                    items="[[content]]">
                    <div class="menu-item" on-click="changeSelector">[[item.type]]</div>
                </template>
            </div>

            <!--
                Placeholder so the menu on the front page keeps aligned
            -->
            <div class="tags">
                <!--<template
                    is="dom-repeat"
                    items="[[content]]">
                    <div class="tag-item" on-click="changeSelector">[[item.type]]</div>
                </template>-->
            </div>

            <div class="content">
                <iron-pages
                    attr-for-selected="name"
                    selected="[[selected]]">
                    <history-sublist name="all" commands="[[all_content]]"></history-sublist>

                    <template
                        is="dom-repeat"
                        items="[[content]]">
                        <history-sublist name="[[item.type]]" commands="[[item.commands]]"></history-sublist>
                    </template>

                </iron-pages>
            </div>

        </div>

    </template>

    <script>
        class HistoryList extends Polymer.Element {
            static get is() { return "command-history"; }
            static get properties() {
                return {
                    all_content: {
                        type: Array
                    },
                    content: {
                        type: Array
                    },
                    selected: {
                        type: String,
                        value: "all"
                    }
                }
            }

            handleResponse(resp) {
                this.all_content = resp.detail.response;

                var artists = _.chain(resp.detail.response)
                    .groupBy((item) => {
                        return item.content.command;
                    }).map((value, key) => {
                        return {
                            type: key,
                            commands: value
                        }
                    }).sortBy('type').value();

                artists.unshift({
                    type: "all",
                    commands: {}
                });

                this.content = artists;
            }

            changeSelector(event) {
                this.selected = event.model.item.type;
            }
        }

        customElements.define(HistoryList.is, HistoryList);
    </script>
</dom-module>