<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="history-item">
    <template>
        <style>
            .content {
                display: grid;
                grid-template-columns: 100px auto;
                grid-template-rows: 40px 40px auto;
                grid-template-areas:
                    "status date_time"          /*date_time| status*/
                    "id params"                 /*   id    | params*/
                    "reason reason";            /*       reason    */
                grid-column-gap: 10px;
                grid-row-gap: 10px;

                padding: 10px;
                border: 1px solid black;
            }

            .content .status {
                grid-area: status;
            }

            .content .id {
                grid-area: id;
            }

            .content .reason {
                grid-area: reason;
            }

            .content .date_time {
                grid-area: date_time;
                justify-self: end;
                align-self: start;

            }

            .content .params {
                grid-area: params;
                justify-self: end;
                align-self: start;
            }
        </style>

        <div class="content">
            <div class="status">[[command.ok]]</div>
            <div class="id">[[command.update_id]]</div>
            <div class="date_time">[[command.date_time]]</div>
            <template
                is="dom-if"
                if="[[!command.ok]]">
                    <div class="params">[[command.content.params]]</div>
                    <div class="reason">[[command.content.reason]]</div>
            </template>
            <template
                is="dom-if"
                if="[[command.ok]]">
                    <div class="params">[[command.content.chat_id]]</div>
                    <div class="reason">[[command.content.text]]</div>
            </template>
        </div>

    </template>
    <script>
        class Command extends Polymer.Element {
            static get is() { return "history-item" };
            static get properties() {
                return {
                    command: {
                        type: Object
                    }
                }
            }
        }

        window.customElements.define(Command.is, Command);
    </script>
</dom-module>