<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="history-item.html">

<dom-module id="history-sublist">
    <template>
        <style>
        </style>

        <template
            is="dom-repeat"
            items="[[commands]]">
                <history-item command="[[item]]"></history-item>
        </template>

    </template>
    <script>
        class HistorySublist extends Polymer.Element {
            static get is() { return "history-sublist" };
            static get properties() {
                return {
                    commands: {
                        type: Array
                    }
                }
            }
        }

        window.customElements.define(HistorySublist.is, HistorySublist);
    </script>
</dom-module>