<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="home-page">
    <template>
        <style>
            .container {
                display: grid;
                grid-template-columns: 40px 80px auto 80px 40px;
                grid-template-rows: 50px auto 50px;
                grid-template-areas:
                    "border-left    header  header  header  border-right"   /*...._____________________....*/
                    "border-left    menu    body    tag     border-right"   /*....    |XXXXXXXXXXX|    ....*/
                    "border-left    menu    footer  tag     border-right";  /*....    |-----------|    ....*/

                grid-column-gap: 15px;
            }

            .container .header {
                grid-area: header;

                justify-self: center;
            }

            .container .content {
                grid-area: body;
            }
            .container .border-left {
                grid-area: border-left;
            }
            .container .border-right {
                grid-area: border-right;
            }
            .container .menu {
                grid-area: menu;
            }
            .container .footer {
                grid-area: footer;
            }
            .container .tag {
                grid-area: tag;
            }
        </style>

        <div class="container">

            <div class="header">
                Jump Telegram Client
            </div>

            <div class="border-left"></div>
            <div class="border-right"></div>
            <div class="menu"></div>
            <div class="footer"></div>
            <div class="tag"></div>

            <div class="content">
                Website for the Spring Telegram bot: Jump Telegram
            </div>

        </div>

    </template>
    <script>
        class HomePage extends Polymer.Element {
            static get is() { return "home-page" };
            static get properties() {
                return {
                    content: {
                        type: String,
                        value: ""
                    }
                }
            }
        }

        window.customElements.define(HomePage.is, HomePage);
    </script>
</dom-module>