<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="list-stat">
    <template>
        <style>
            .container {
                display: inline-grid;

                grid-template-columns: 100px;
                grid-template-rows: 25px 100px;
                grid-template-areas:
                    "descriptor"
                    "list"
                ;

                grid-gap: 10px;

                padding: 5px;

                border-color: black;
                border-width: 1px;
                border-style: solid;

                vertical-align: text-top;
            }

            .container .list {
                grid-area: list;

                align-self: center;
                justify-self: center;
            }

            .container .descriptor {
                grid-area: descriptor;

                justify-self: center;
            }
        </style>

        <div class="container">
            <div class="list">
                <template
                    is="dom-repeat"
                    items="[[content.value]]">
                        <div class="list-item">
                            [[item]]
                        </div>
                </template>
            </div>
            <div class="descriptor">
                [[content.name]]
            </div>
        </div>

    </template>
    <script>
        class ListStatistic extends Polymer.Element {
            static get is() { return "list-stat" };
            static get properties() {
                return {
                    content: {
                        type: Object,
                    }
                }
            }
        }

        window.customElements.define(ListStatistic.is, ListStatistic);
    </script>
</dom-module>