<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="object-stat">
    <template>
        <style>
            .container {
                display: inline-grid;

                grid-template-columns: 100px auto;
                grid-template-rows: 25px 50px 50px;
                grid-template-areas:
                    "context    context"
                    "status     date"
                    "text       text"
                ;

                grid-gap: 5px;

                padding: 5px;
                padding-left: 15px;
                padding-right: 15px;

                border-color: black;
                border-width: 1px;
                border-style: solid;

                vertical-align: text-top;
            }

            .container .context {
                grid-area: context;

                align-self: center;
                justify-self: center;
            }

            .container .text {
                grid-area: text;

                align-self: center;
            }

            .container .status {
                grid-area: status;

                align-self: center;
                justify-self: begin;
            }

            .container .status .good{
                color: green;
            }

            .container .status .bad{
                color: red;
            }

            .container .date {
                grid-area: date;

                align-self: center;
                justify-self: end;
            }
        </style>

        <div class="container">
            <div class="context">
                [[content.name]]
            </div>
            <div class="text">
                [[content.value.content.text]]
            </div>
            <div class="status">
                <template
                    is="dom-if"
                    if="[[content.value.ok]]">
                        <div class="good">Succeeded</div>
                </template>
                <template
                    is="dom-if"
                    if="[[!content.value.ok]]">
                        <div class="bad">Failed</div>
                </template>
            </div>
            <div class="date">
                [[content.value.date_time]]
            </div>
        </div>

    </template>
    <script>
        class ObjectStatistic extends Polymer.Element {
            static get is() { return "object-stat" };
            static get properties() {
                return {
                    content: {
                        type: Object
                    }
                }
            }
        }

        window.customElements.define(ObjectStatistic.is, ObjectStatistic);
    </script>
</dom-module>