<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="status-stat.html">
<link rel="import" href="list-stat.html">
<link rel="import" href="object-stat.html">

<dom-module id="stats-page">
    <template>
        <style>
            .container {
                display: grid;
                grid-template-columns: 40px 80px auto 80px 40px;
                grid-template-rows: 50px auto 50px;
                grid-template-areas:
                    "border-left    header  header  header  border-right"   /*...._____________________....*/
                    "border-left    menu    body    tag     border-right"   /*....    |XXXXXXXXXXX|    ....*/
                    "border-left    menu    footer  tag     border-right";  /*....    |-----------|    ....*/

                grid-column-gap: 15px;

                font-family: 'Amatic SC', cursive;
            }

            .container .header {
                grid-area: header;

                justify-self: center;
            }

            .container .content {
                grid-area: body;

                justify-self: begin;

                font-family: 'Slabo 27px', serif;
            }
        </style>

        <iron-ajax auto
            id="requester"
            url="http://127.0.0.1:8080/api/statistics"
            on-response="handleResponse"
            handle-as="json">
        </iron-ajax>

        <div class="container">
            <div class="header">
                Statistics
            </div>

            <div class="content">
                <template
                    is="dom-repeat"
                    items="[[statuses]]">
                        <status-stat content="[[item]]"></status-stat>
                </template>

                <template
                    is="dom-repeat"
                    items="[[lists]]">
                        <list-stat content="[[item]]"></list-stat>
                </template>

                <template
                    is="dom-repeat"
                    items="[[objects]]">
                        <object-stat content="[[item]]"></object-stat>
                </template>
            </div>
        </div>


    </template>
    <script>
        class Statistics extends Polymer.Element {
            static get is() { return "stats-page" };
            static get properties() {
                return {
                    statuses: {
                        type: Array
                    },
                    lists: {
                        type: Array
                    },
                    objects: {
                        type: Array
                    }
                }
            }

            handleResponse(resp) {
                const content = resp.detail.response;

                this.lists = _.filter(content, (item) => _.isArray(item.value));
                this.objects = _.chain(content).filter((item) => _.isObject(item.value)).difference(this.lists).value(); //difference due to Array being an object
                this.statuses = _.difference(content, _.union(this.objects, this.lists));
            }
        }

        window.customElements.define(Statistics.is, Statistics);
    </script>
</dom-module>