<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="status-stat">
    <template>
        <style>
            .container {
                display: inline-grid;

                grid-template-columns: 150px;
                grid-template-rows: 100px 25px;
                grid-template-areas:
                    "value"
                    "context"
                ;

                grid-gap: 10px;

                padding: 5px;

                border-color: black;
                border-width: 1px;
                border-style: solid;

                vertical-align: text-top;
            }

            .container .value {
                grid-area: value;

                justify-self: center;
                align-self: center;

                font-size: 400%;

                font-family: 'Fjalla One', sans-serif;
            }

            .container .context {
                grid-area: context;

                justify-self: center;
            }
        </style>

        <div class="container">
            <div class="value">
                [[content.value]]
            </div>
            <div class="context">
                [[content.name]]
            </div>
        </div>

    </template>
    <script>
        class StatusStatistic extends Polymer.Element {
            static get is() { return "status-stat" };
            static get properties() {
                return {
                    content: {
                        type: Object
                    }
                }
            }
        }

        window.customElements.define(StatusStatistic.is, StatusStatistic);
    </script>
</dom-module>