<link rel="import" href="home/home-page.html">
<link rel="import" href="history/command-history.html">
<link rel="import" href="stats/stats-page.html">

<dom-module id="jump-telegram">
    <template>
        <style>
            .container {
                display: grid;

                grid-template-columns: 40px auto 40px;
                grid-template-rows: 50px 50px auto;
                grid-template-areas:
                    "border         border      border"         /*.......................*/
                    "corner-left    menu        corner-right"   /*|.....|XXXXXXXXX|.....|*/
                    "content        content     content";       /*|.....|YYYYYYYYY|.....|*/
            }

            .container .menu {
                grid-area: menu;

                font-size: 200%;
                font-family: 'Amatic SC', cursive;
            }

            .container .menu .menu-item {
                display: inline-grid;
            }

            .container .menu .menu-item:hover {
                /*font-weight: 600;*/
                background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, purple);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .container .content {
                grid-area: content;
            }

            .container .corner-left {
                grid-area: corner-left;
            }

            .container .corner-right {
                grid-area: corner-left;
            }
        </style>

        <div class="container">
            <div class="corner-left"></div>

            <div class="menu">
                <template
                    is="dom-repeat"
                    items="[[content]]">
                        <div class="menu-item" on-click="changeSelector">[[item]]</div>
                </template>
            </div>

            <div class="corner-right"></div>

            <div class="content">
                <iron-pages
                    attr-for-selected="page"
                    selected="[[selected]]">
                    <home-page page="home"></home-page>
                    <command-history page="history"></command-history>
                    <stats-page page="stats"></stats-page>
                </iron-pages>
            </div>
        </div>
    </template>

    <script>
        class JumpTelegramApp extends Polymer.Element {
            static get is() { return "jump-telegram"; }
            static get properties() {
                return {
                    content: {
                        type: Array,
                        value: ["home","history","stats"]
                    },
                    selected: {
                        type: String,
                        value: "home"
                    }
                }
            }

            changeSelector(event) {
                this.selected = event.model.item;
            }
        }

        customElements.define(JumpTelegramApp.is, JumpTelegramApp);
    </script>
</dom-module>